ipympl
ipywidgets~=8.0.6
matplotlib~=3.7.1
openpyxl
pandas~=2.0.2
protobuf
sympy
widgetsnbextension
voila
ipyfilechooser
geopandas~=0.13.0
pyarrow
geopy~=2.3.0
ipyleaflet~=0.17.3
numpy~=1.24.3
ipython~=8.13.2
pyside6